<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <body>
    <div id="container"></div>
  </body>

  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/script.min.js"></script>
</html>
